@import "../abstracts/variables";

.form {
    &__group {

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__input {
        display: block;
        width: 90%;
        font-size: 1.5rem;
        color: inherit;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border: none;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border-bottom: 3px solid transparent;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }

        &::-webkit-input-placeholder {
            color: $color-gray-dark-2;
        }
    }

    &__label {
        display: block;
        color: $color-gray-dark-2;
        font-size: 1.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s;
    }

    // to hide label at load
    &__input:placeholder-shown + &__label { // + adjacent selecor for the firs sibling (input and label) - needs to be after, ~ general sibling selector
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        display: inline-block;
        width: 49%;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 5rem;
    }

    &__radio-button {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;

        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            background-color: $color-primary;
            @include absCenter;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    // When we hit the label element, than we have this checked pseudo-class available to use, than we select the sibling, than a child
    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}